<div id="sidebar">
  <button (click)="addItem()">Add Item</button>
  <button (click)="addGroup()">Add Group</button>
  <ul class="main-container" #mainContainer>
    <li class="item" *ngFor="let item of mainList">{{ item }}</li>
    <ng-container *ngFor="let group of groups">
      <li class="group">
        <div class="item">{{ group.title }}</div>
        <ul class="group-container" #groupContainer>
          <li class="item" *ngFor="let item of group.items">{{ item }}</li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
